
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section order{
        <main class="main">
    <section class="main__checkout">
        <div class="container">
            <div class="row">
                <div class="main__checkout-title">
                    <span>Thanh toán</span>
                </div>
            </div>
            <div class="row">
                <div class="main__item">
                    <h2>ĐIỀN THÔNG TIN NHẬN HÀNG</h2>
                </div>
            </div>
            <div class="row">
                <form action="" class="main__form-control" id="form-3">
                    <div class="main__checkout-info">
                        <label for="">Họ và tên</label>
                        <input type="text" name="fullName" id="" placeholder="Nhập họ và tên đầy đủ">
                    </div>
                    <div class="main__checkout-info">
                        <label for="">Điện thoại di động</label>
                        <input type="text" name="phone" id="" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="main__checkout-info">
                        <label for="">Địa chỉ giao hàng</label>
                        <input type="text" name="address" id="" placeholder="Nhập địa chỉ giao hàng cụ thể">
                    </div>
                    <div class="main__checkout-info">
                        <label for="">Ghi chú</label>
                        <textarea rows="5" name="note" placeholder="Ghi chú"></textarea>
                    </div>
                    <div class="main__checkout-success">
                        <button>Hoàn tất</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="overlay"></div>
</main>
}

