<div class="heading__heading-bottom">
    <div class="container">
        <div class="row">
            <a class="heading__banner" href="#">
                <img src="~/Content/image/banners/banner-1.jpg" alt="">
            </a>
        </div>
    </div>
</div>
