
<li class="heading__login">
    <a href="dangnhap.html">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <span>
            Đăng nhập <br> Đăng ký
        </span>
    </a>
</li>