
<li class="heading__login">
    <a href="/Login/Index" class="login-1">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <span class="check-1">
            <P class="check-2">@ViewBag.name</P>
            <P class="check-3">Đăng nhập <br/> Đăng ký</P>
        </span>
    </a>
</li>
